.App {
  text-align: center;
  background-color: #f4f5f8;
}
* {
  padding: 0px;
  margin: 0px;
}
nav.popup-dropdown {
  padding: 20px 20px;
  background: white;
  text-align: left;
}

nav.popup-dropdown button {
  background: white;
  padding: 6px 10px;
  border: 1px solid #c3c3c3;
  border-radius: 7px;
  display: flex;
  align-items: center;
  font-size: 11px;
  color: black;
}
.dropdown {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: baseline; */
  background: #f8f9fb;
  width: 200px;
  padding: 10px 14px;
  position: absolute;
  top: 50px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  z-index: 1;
  border-radius: 4px;
}

.label-dropdown {
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.label-dropdown span {
  color: #8a8a8b;
  font-size: 11px;
  width: 190px;
}

.dropdown .label-dropdown:first-child {
  margin-bottom: 12px;
}
.dropdown-menu {
  background: white;
  padding: 3px 13px 3px 7px;
  border: 1px solid #c3c3c3;
  border-radius: 7px;
  font-size: 11px;
  color: black;
}
nav.popup-dropdown button img {
  width: 10px;
  object-fit: contain;
  margin-right: 6px;
}
nav.popup-dropdown button img:nth-child(2) {
  margin-left: 6px;
  width: 6px;
  margin-top: 2px;
}
.card-header {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: grey;
}

.profile-con img {
  width: 20px;
  border-radius: 30px;
  height: 20px;
}
.status {
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background: rgb(203 203 203);
  position: absolute;
  bottom: 2px;
  right: 0px;
}

.profile-con {
  position: relative;
}
.card-body {
  display: flex;
  gap: 10px;
  margin: 10px 0px;
}

.card-body img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.card-body p {
  font-size: 13px;
}
.grey-con {
  border: 1px solid #e7e7e7;
  padding: 6px 4px;
  color: #5c5c5c;
}

.card-footer {
  display: flex;
}

.card-footer img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.grey-con {
  border: 1px solid #e7e7e7;
  padding: 2px 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 10px;
}

.card-footer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.card-footer img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.grey-round {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #cfcfcf;
}

.card {
  background: white;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 10px;
  width: 250px;
  margin-bottom: 10px;
}
.body-main {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
  padding: 20px;
  background: #f4f5f8;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.body-main::-webkit-scrollbar {
  display: none;
}
.card-list {
  margin-top: 10px;
}
img.headingImage {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
img.headingImage {
  width: 18px;
  height: 18px;
  object-fit: contain;
}

.heading-start {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 12px;
}

h4 {
  font-size: 12px;
  font-weight: 400;
}
.card-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading-end img {
  width: 18px;
  height: 18px;
  object-fit: contain;
}
#root {
  height: 100vh;
  background: #f4f5f8;
}
